<section class="cover-section">
  <div class="cover-container">
        <h2 class="cover-title visually-hidden">Covers</h2>
        <div class="marquee">
          <ul class="marquee-inner">
             <li class="marquee-line">
                <picture class="annouced">
                    <source
                     srcset="
                     ./img/img-cover/cover1-desktop-tab1x.png 1x,
                      ./img/img-cover/cover1-desktop-tab@2x.png 2x
                      "
                     media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      ./img/img-cover/cover1-desktop-tab1x.png 1x,
                      ./img/img-cover/cover1-desktop-tab@2x.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                      ./img/img-cover/cover1-desktop-tab1x.png 1x,
                      ./img/img-cover/cover1-desktop-tab@2x.png 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src="./img/img-cover/cover1-desktop-tab1x.png"
                      alt="annouced"
                     
                    />
                </picture>
              </li>
              <li class="marquee-line">
                <picture class="annouced">
                    <source
                     srcset="
                     ./img/img-cover/cover2-desktop-tab1x.png 1x,
                      ./img/img-cover/cover2-desktop-tab@2x.png 2x
                      "
                     media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      ./img/img-cover/cover2-desktop-tab1x.png 1x,
                      ./img/img-cover/cover2-desktop-tab@2x.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                      ./img/img-cover/cover2-desktop-tab1x.png 1x,
                      ./img/img-cover/cover2-desktop-tab@2x.png 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src="./img/img-cover/cover2-desktop-tab1x.png"
                      alt="annouced"
                      
                    />
                </picture>
              </li>
              <li class="marquee-line">
                <picture class="annouced">
                    <source
                     srcset="
                     ./img/img-cover/cover3-desktop-tab1x.png 1x,
                      ./img/img-cover/cover3-desktop-tab@2x.png 2x
                      "
                     media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      ./img/img-cover/cover3-desktop-tab1x.png 1x,
                      ./img/img-cover/cover3-desktop-tab@2x.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                      ./img/img-cover/cover3-desktop-tab1x.png 1x,
                      ./img/img-cover/cover3-desktop-tab@2x.png 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src="./img/img-cover/cover3-desktop-tab1x.png"
                      alt="annouced"
                      
                    />
                </picture>
              </li>         
          </ul>
          <ul class="marquee-inner">
             <li class="marquee-line">
                <picture class="annouced">
                    <source
                     srcset="
                     ./img/img-cover/cover4-desktop-tab1x.png 1x,
                      ./img/img-cover/cover4-desktop-tab@2x.png 2x
                      "
                     media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      ./img/img-cover/cover4-desktop-tab1x.png 1x,
                      ./img/img-cover/cover4-desktop-tab@2x.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                      ./img/img-cover/cover4-desktop-tab1x.png 1x,
                      ./img/img-cover/cover4-desktop-tab@2x.png 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src="./img/img-cover/cover4-desktop-tab1x.png"
                      alt="annouced"
                      
                    />
                </picture>
              </li>
              <li class="marquee-line">
                <picture class="annouced">
                    <source
                     srcset="
                     ./img/img-cover/cover5-desktop-tab1x.png 1x,
                      ./img/img-cover/cover5-desktop-tab@2x.png 2x
                      "
                     media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      ./img/img-cover/cover5-desktop-tab1x.png 1x,
                      ./img/img-cover/cover5-desktop-tab@2x.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                      ./img/img-cover/cover5-desktop-tab1x.png 1x,
                      ./img/img-cover/cover5-desktop-tab@2x.png 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src="./img/img-cover/cover5-desktop-tab1x.png"
                      alt="annouced"
                     
                    />
                </picture>
              </li>
              <li class="marquee-line">
                <picture class="annouced">
                    <source
                     srcset="
                     ./img/img-cover/cover6-desktop-tab1x.png 1x,
                      ./img/img-cover/cover6-desktop-tab@2x.png 2x
                      "
                     media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      ./img/img-cover/cover6-desktop-tab1x.png 1x,
                      ./img/img-cover/cover6-desktop-tab@2x.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                      ./img/img-cover/cover6-desktop-tab1x.png 1x,
                      ./img/img-cover/cover6-desktop-tab@2x.png 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src="./img/img-cover/cover6-desktop-tab1x.png"
                      alt="annouced"
                      
                    />
                </picture>
              </li>         
          </ul>
          <ul class="marquee-inner">
             <li class="marquee-line">
                <picture class="annouced">
                    <source
                     srcset="
                     ./img/img-cover/cover7-desktop-tab1x.png 1x,
                      ./img/img-cover/cover7-desktop-tab@2x.png 2x
                      "
                     media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      ./img/img-cover/cover7-desktop-tab1x.png 1x,
                      ./img/img-cover/cover7-desktop-tab@2x.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                      ./img/img-cover/cover7-desktop-tab1x.png 1x,
                      ./img/img-cover/cover7-desktop-tab@2x.png 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src="./img/img-cover/cover7-desktop-tab1x.png"
                      alt="annouced"
                      
                    />
                </picture>
              </li>
              <li class="marquee-line">
                <picture class="annouced">
                    <source
                     srcset="
                     ./img/img-cover/cover8-desktop-tab1x.png 1x,
                      ./img/img-cover/cover8-desktop-tab@2x.png 2x
                      "
                     media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      ./img/img-cover/cover8-desktop-tab1x.png 1x,
                      ./img/img-cover/cover8-desktop-tab@2x.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                      ./img/img-cover/cover8-desktop-tab1x.png 1x,
                      ./img/img-cover/cover8-desktop-tab@2x.png 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src="./img/img-cover/cover8-desktop-tab1x.png"
                      alt="annouced"
                      
                    />
                </picture>
              </li>
              <li class="marquee-line">
                <picture class="annouced">
                    <source
                     srcset="
                     ./img/img-cover/cover9-desktop-tab1x.png 1x,
                      ./img/img-cover/cover9-desktop-tab@2x.png 2x
                      "
                     media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      ./img/img-cover/cover9-desktop-tab1x.png 1x,
                      ./img/img-cover/cover9-desktop-tab@2x.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                      ./img/img-cover/cover9-desktop-tab1x.png 1x,
                      ./img/img-cover/cover9-desktop-tab@2x.png 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src="./img/img-cover/cover9-desktop-tab1x.png"
                      alt="annouced"
                      
                    />
                </picture>
              </li>         
          </ul>
        </div>
  </div>
</section>