<section class="section cover-section">
    <div class="container">
        <h2>Covers</h2>
        <div class="marquee">
          <ul class="marquee-inner">
             <li class="marquee-line"><img src=""/></li>
             <li class="marquee-line"><img src=""/></li>
             <li class="marquee-line"><img src=""/></li>         
          </ul>
           <ul class="marquee-inner">
             <li class="marquee-line"><img src=""/></li>
             <li class="marquee-line"><img src=""/></li>
             <li class="marquee-line"><img src=""/></li>         
          </ul>
           <ul class="marquee-inner">
             <li class="marquee-line"><img src=""/></li>
             <li class="marquee-line"><img src=""/></li>
             <li class="marquee-line"><img src=""/></li>         
          </ul>
           <ul class="marquee-inner">
             <li class="marquee-line"><img src=""/></li>
             <li class="marquee-line"><img src=""/></li>
             <li class="marquee-line"><img src=""/></li>         
          </ul>
           <ul class="marquee-inner">
             <li class="marquee-line"><img src=""/></li>
             <li class="marquee-line"><img src=""/></li>
             <li class="marquee-line"><img src=""/></li>         
          </ul>
        </div>
    </div>
</section>