<header class="header">
  <div class="header-container">

    <div class="box-logo">
      <picture>
        <source srcset="./img/img-header/photo-jefferson.png 1x, ./img/img-header/photo-jefferson@2.png 2x"
          media="(min-width: 320px)">
        <img src="./img/img-header/photo-jefferson.png" alt="Jefferson">
      </picture>
      <a class="name-logo" href="https://leguter.github.io/team-project-2/">jefferson*</a>
    </div>

    <p class="name-list-menu">Menu</p>

    <div class="box-link-project">
      <a href=#footer class="link-for-project">Order the project</a>
    </div>

    <button class="btn-open-burger" type="button">
      <svg class="icon-burger-svg" width="28" height="28">
        <use href="./img/sprite/sprite.svg#burger"></use>
      </svg>
    </button>

  </div>
</header>

<div class="backdrop">

  <div class="modal">

    <div>
      <button class="mobile-close-btn" type="button" id="menu-modal-close">
        <svg class="mobile-close-icon" height="28" width="28">
          <use href="./img/sprite/sprite.svg#x"></use>
        </svg>
      </button>
    </div>

    <nav class="nav-modal modal-window">
      <ul class="navigation-menu">
        <li class="item-navigation-menu" id="js-close-menu-1"><a href="#about-me">About me</a></li>
        <li class="item-navigation-menu" id="js-close-menu-2"><a href="#benefits">Benefits</a></li>
        <li class="item-navigation-menu" id="js-close-menu-3"><a href="#projects">Projects</a></li>
        <li class="item-navigation-menu" id="js-close-menu-4"><a href="#faq">FAQ</a></li>
    </ul>
        <div class="box-link-project modal-window-box">
            <a href=#footer class="link-for-project modal-window">Order the project</a>
        </div>
    </nav>
    </div>
</div>

<div class="backdrop-for-btn-menu">
  <nav class="nav-modal-btn-menu">
    <ul class="navigation-for-btn-menu">
      <li class="item-for-btn-menu" id="js-close-menu-111"><a href="#about-me">About me</a></li>
      <li class="item-for-btn-menu" id="js-close-menu-222"><a href="#benefits">Benefits</a></li>
      <li class="item-for-btn-menu" id="js-close-menu-3333"><a href="#projects">Projects</a></li>
      <li class="item-for-btn-menu" id="js-close-menu-4444"><a href="#faq">FAQ</a></li>
    </ul>
  </nav>
</div>

<script src="./js/header-modal.js" type="module"></script>