<header>
    <div class="container header-container">
        <picture>
        <source srcset="../img/img-header/photo-jefferson.png   1x
            " media="(min-width: 375px)" />
        <img src="../img/img-header/photo-jefferson.png" alt="">
        </picture>

        <p>jefferson*</p>

        <ul>
            Menu
            <li><a href="#aboutme">About me</a></li>
            <li><a href="#benefits">Benefits</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#faq">FAQ</a></li>
        </ul>

        <a href=#footer>Order the project</a>
    </div>
</header>