<section class="hero">
    <div class="container hero-container">
        <h1>Hello.
        I’m Fullstack developer
        Lloyd Jefferson.</h1>

        <ul>
            <li><a href="">
                <svg></svg>
            </a></li>
            <li><a href="">
                <svg></svg>
            </a></li>
            <li><a href="">
                <svg></svg>
            </a></li>
            <li><a href="">
                <svg></svg>
            </a></li>

            <li><a class="address-link" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a></li>
        </ul>
    </div>
</section>