<section class="hero">
    <div class="container hero-container">
        <h1 class="hero-main-title">Hello.
        I'm Fullstack developer
        Lloyd Jefferson.</h1>

        <ul class="hero-social-list">
            <li><a class="item-social-list" href="https://www.instagram.com/">
                IG
            </a></li>
            <li><a class="item-social-list" href="https://www.facebook.com/">
                FB
            </a></li>
            <li><a class="item-social-list" href="https://www.youtube.com/">
                YT
            </a></li>
            <li><a class="item-social-list" href="https://github.com/leguter/team-project-2">
                GH
            </a></li>

            <li><a class="address-link" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a></li>
        </ul>
    </div>
</section>