<section class="hero">
    <div class="container hero-container">
        <h1>Hello.
        I’m Fullstack developer
        Lloyd Jefferson.</h1>

        <ul>
            <li><a href="https://www.instagram.com/">
                <p>IG</p>
            </a></li>
            <li><a href="https://www.facebook.com/">
                <p>FB</p>
            </a></li>
            <li><a href="https://www.youtube.com/">
                <p>YT</p>
            </a></li>
            <li><a href="https://github.com/leguter/team-project-2">
                <p>GH</p>
            </a></li>

            <li><a class="address-link" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a></li>
        </ul>
    </div>
</section>