<section class="projects" id="projects">
  <h2 class="projects-title">Projects</h2>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="projects-cards swiper-slide">
        <div class="projects-card-left">
          <div class="btns">
            <button class="btns-item">#react</button>
            <button class="btns-item">#js</button>
            <button class="btns-item">#node js</button>
            <button class="btns-item">#git</button>
          </div>
          <h3 class="projects-titleH3">Programming Across<br> Borders: Ideas,<br> Technologies, Innovations</h3>
          <div class="btn-project">
            <a class="btn-project-a" href="https://github.com/leguter/team-project-2" target="_blank">See project</a>
          </div>
        </div>

        <div class="projects-card-right">
          <picture class="project-foto">
            <source srcset="
        ./img/img-projects/tab-img-first@1x.png 1x,
        ./img/img-projects/tab-img-first@2x.png 2x
          " media="(min-width: 1376px)" />
            <source srcset="
        ./img/img-projects/tab-img-first@1x.png 1x,
        ./img/img-projects/tab-img-first@2x.png 2x
          " media="(min-width: 768px)" />
            <source srcset="
        ./img/img-projects/mob-img-first@1x.png 1x,
        ./img/img-projects/mob-img-first@2x.png 2x
          " media="(max-width: 767px)" />
            <img src="./img/img-projects/mob-img-first@1x.png" alt="foto" />
          </picture>
        </div>
      </div>

      <div class="projects-cards swiper-slide">
        <div class="projects-card-left">
          <div class="btns">
            <button class="btns-item">#react</button>
            <button class="btns-item">#js</button>
            <button class="btns-item">#node js</button>
            <button class="btns-item">#git</button>
          </div>
          <h3 class="projects-titleH3">Programming Across<br> Borders: Ideas,<br> Technologies, Innovations</h3>
          <div class="btn-project">
            <a class="btn-project-a" href="https://github.com/leguter/team-project-2" target="_blank">See project</a>
          </div></div>

        <div class="projects-card-right">
          <picture class="project-foto">
            <source srcset="
        ./img/img-projects/tab-img-second@1x.png 1x,
        ./img/img-projects/tab-img-second@2x.png 2x
          " media="(min-width: 1376px)" />
            <source srcset="
        ./img/img-projects/tab-img-second@1x.png 1x,
        ./img/img-projects/tab-img-second@2x.png 2x
          " media="(min-width: 768px)" />
            <source srcset="
        ./img/img-projects/mob-img-second@1x.png 1x,
        ./img/img-projects/mob-img-second@2x.png 2x
          " media="(max-width: 767px)" />
            <img src="./img/img-projects/mob-img-second@1x.png" alt="foto" />
          </picture>
        </div>
      </div>
      <div class="projects-cards swiper-slide">
        <div class="projects-card-left">
          <div class="btns">
            <button class="btns-item">#react</button>
            <button class="btns-item">#js</button>
            <button class="btns-item">#node js</button>
            <button class="btns-item">#git</button>
          </div>
          <h3 class="projects-titleH3">Programming Across<br> Borders: Ideas,<br> Technologies, Innovations</h3>
          <div class="btn-project">
            <a class="btn-project-a" href="https://github.com/leguter/team-project-2" target="_blank">See project</a>
          </div>
        </div>

        <div class="projects-card-right">
          <picture class="project-foto">
            <source srcset="
        ./img/img-projects/tab-img-third@1x.png 1x,
        ./img/img-projects/tab-img-third@2x.png 2x
          " media="(min-width: 1376px)" />
            <source srcset="
        ./img/img-projects/tab-img-third@1x.png 1x,
        ./img/img-projects/tab-img-third@2x.png 2x
          " media="(min-width: 768px)" />
            <source srcset="
        ./img/img-projects/mob-img-third@1x.png 1x,
        ./img/img-projects/mob-img-third@2x.png 2x
          " media="(max-width: 767px)" />
            <img src="./img/img-projects/mob-img-third@1x.png" alt="foto" />
          </picture>
        </div>
      </div>
    </div>
    <div class="rotate-btns">
      <div class="swiper-button-next">
        <svg class="icon-right-swipper" width="32" height="32" aria-label="icon">
          <use href="/img/sprite/sprite.svg#arrow-narrow-right"></use>
        </svg>
      </div>
      <div class="swiper-button-prev">
        <svg class="icon-right-swipper" width="32" height="32" aria-label="icon">
          <use href="/img/sprite/sprite.svg#arrow-narrow-right-1"></use>
        </svg>
      </div>
    </div>

  </div>
</section>