<section class="section-reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-title">REVIEWS</h2>
    <div class="swiper">
      <ul class="feedback-list swiper-wrapper"></ul>

      <div class="rotate-btns">
        <div class="swiper-button-next">
          <svg
            class="icon-right-swipper"
            width="32"
            height="32"
            aria-label="icon"
          >
            <use href="/img/sprite/sprite.svg#arrow-narrow-right"></use>
          </svg>
        </div>
        <div class="swiper-button-prev">
          <svg
            class="icon-right-swipper"
            width="32"
            height="32"
            aria-label="icon"
          >
            <use href="/img/sprite/sprite.svg#arrow-narrow-right-1"></use>
          </svg>
        </div>
      </div>
    </div>
    </div>
</section>
