.benefits {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 1376px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.benefits-list-item {
  padding: 32px;
  background-color: #242527;
  border-radius: 24px;
  margin-left: auto;
  margin-right: auto;
}
.benefits-icons-section {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #ed3b44;
  width: 48px;
  height: 48px;
  margin-bottom: 16px;
}
.benefits-icon-item {
  fill: none;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  stroke-width: 2px;
  stroke: #fafafa;
}

.benefits-subtitle {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.5;
  color: white;
  margin-bottom: 16px;
  text-align: left;
}
.benefits-item-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #fafafa60;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .benefits-title {
    font-size: 108px;
    max-width: 538px;
    max-height: 372px;
    margin-bottom: 0px;
    margin-left: 32px;
    margin-right: 32px;
  }
  .benefits-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    margin-bottom: 64px;
  }

  .benefits-subtitle {
    font-size: 20px;
    line-height: 1.6;
  }
}
@media screen and (min-width: 1440px) {
  .benefits-container {
    padding-top: 0;
    margin-left: 50%;
  }
}

.order-the-project {
  display: block;
  border-radius: 60px;
  width: 163px;
  height: 55px;
  border: 1px solid #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-link {
  font: 500 16px 'Inter Tight', sans-serif;
  letter-spacing: -0.02em;
  color: #fafafa;
}
