
.cover-section {
    position: relative;
    /* width: 100%; */
    overflow: hidden;
    background-color: inherit;
    background-size: cover;
    background-image:
        url("../img/img-cover/cover-bg1x.png");
    background-repeat: no-repeat;
    background-position: center;   
}
   

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.cover-container { 
    max-width: 375px;
    
}

.marquee {
    position: relative;
    overflow: hidden;
    transform: rotate(15deg);
    /* right: 156px;
    left: -100px;
    bottom: -74px; */
    display:flex;
    /* min-width: 768px; */
    flex-wrap: wrap; 
            
}

.marquee-inner {
    display: flex;
    animation: marqueeScroll 6000ms linear infinite;
    gap: 40px;   
    
    /* animation-play-state: running;    */
        animation-delay: -10s;
        width: fit-content;
}

.marquee-inner:nth-child(2) {
    animation-delay: -15s;
}

.marquee-inner.duplicated {
    animation: marqueeScrollDuplicated 20s linear infinite;
}

.marquee-line {
 max-width: 283px;
 max-width: 163px;
}


/* .announced img {
    width: 100%;
    height: auto;
    display: flex;
    
} */

/* @keyframes marqueeScroll {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
} */
@keyframes marqueeScroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}


@keyframes marqueeScrollDuplicated {
    from {
        transform: translate(0%);
    }

    to {
        transform: translate(calc(-50% - 15px));
    }
}

/* Стилі 768 */



@media only screen and (min-width: 768px) {
      
    


 .cover-container {
    max-width: 768px;
    
  }

  .marquee {
    right: 0;
    left: -20px;
    bottom: -25px;
    min-width: 768px;      
    row-gap: 80px;
    }

   .marquee-inner {
     
       gap: 70px;
   }

 .marquee-liner {
    max-width: 544px;
    height: 314px;
 }

}


/* Стилі 1440 */


@media only screen and (min-width: 1440px) { 
 
 

 .cover-container {
     max-width: 1440px;
 }

}