ul{
    list-style-type: none;
}


.cover-section {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: inherit;
    background-size: cover;
    background-image:
        url("../img/img-cover/cover-bg1x.png");
    background-repeat: no-repeat;
    background-position: center;   
}
   

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* .cover-container { 
    padding-top: 169px;
    padding-bottom: 32px;
    min-width: 375px;
    padding-left: 30px;
    padding-right: 16px;

} */

.marquee {
    position: relative;
    /* overflow: hidden; */
    transform: rotate(20deg);
    right: 0;
    left: -20px;
    bottom: -25px;
    display:flex;
    max-width: 768px;
    flex-wrap: wrap; 
    row-gap: 80px;    
}

.marquee-inner {
    display: flex;
    animation: marqueeScroll 20s linear infinite;
    
    
    /* animation-play-state: running;    */
    animation-delay: -10s;  
    width: fit-content;  
    gap: 20px ;
}

.marquee-inner.duplicated {
    animation: marqueeScrollDuplicated 20s linear infinite;
}

.announced img {
    width: 100%;
    height: auto;
    display: flex;
    
}
.marquee-inner:nth-child(2) {
    animation-delay: -15s; 
}


/* @keyframes marqueeScroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
} */


@keyframes marqueeScroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}


@keyframes marqueeScrollDuplicated {
    from {
        transform: translate(0%);
    }
    to {
        transform: translate(calc(-50% - 15px ));
    }
}
@media only screen and (min-width: 768px) {
      
    
 .cover-section {
    padding-bottom: 96px;
    }

 .cover-container {
    min-width: 768px;
  }

  .marquee {
    right: 0;
    left: -20px;
    bottom: -25px;
    min-width: 768px;      
    row-gap: 80px;
    }
   .marquee-inner {
     
       gap: 70px;
   }

   
}
@media only screen and (min-width: 1440px) { 
 
 .cover-section {
    padding-bottom: 164px;
 }

 .cover-container {
     min-width: 1440px;
 }

}