
.cover-section {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: inherit;
    padding-bottom: 64px;
    background-size: cover;
    background-image:
        url("../img/img-cover/cover-bg1x.png");
    background-repeat: no-repeat;
    background-position: center;   
}
   

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.cover-container { 
    padding-top: 169px;
    padding-bottom: 32px;
    min-width: 375px;
    padding-left: 30px;
    padding-right: 16px;
}

.marquee {
    position: relative;
    overflow: hidden;
    transform: rotate(15deg);
    right: 156px;
    left: -100px;
    bottom: -74px;
    display:flex;
    min-width: 768px;
    flex-wrap: wrap; 
    row-gap: 80px;         
}

.marquee-inner {
    display: flex;
    animation: marqueeScroll 6000ms linear infinite;
     
    gap: 40px;          
}

.marquee-liner {
width: 283px;
height: 163px;
}
.announced img {
    width: 100%;
    height: auto;
    display: flex;
    
}

@keyframes marqueeScroll {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}
@media only screen and (min-width: 768px) {
      
    
 .cover-section {
    padding-bottom: 96px;
    }

 .cover-container {
    min-width: 768px;
  }

  .marquee {
    right: 0;
    left: -20px;
    bottom: -25px;
    min-width: 768px;      
    row-gap: 80px;
    }
   .marquee-inner {
     
       gap: 70px;
   }
 .marquee-liner {
    max-width: 544px;
    height: 314px;
 }
}
@media only screen and (min-width: 1440px) { 
 
 .cover-section {
    padding-bottom: 164px;
 }

 .cover-container {
     min-width: 1440px;
 }

}