.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-top: 32px;
  position: absolute;
  width: 343px;
}

.backdrop-for-btn-menu {
  display: none;
}

.box-logo {
  display: flex;
}

.name-logo {
  color: #FAFAFA;
  min-width: 84px;
  height: 19px;
  margin-left: 8px;
}

.name-list-menu,
.navigation-menu {
  font: 500 16px "Inter Tight", sans-serif;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fafafa;
}

.link-for-project {
  font: 500 16px "Inter Tight", sans-serif;
  letter-spacing: -0.02em;
  color: #fafafa;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-link-project {
  display: none;
}

.navigation-menu {
  text-align: center;
}

.nav-modal {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 289px;
}

.name-list-menu {
  display: none;
}

.backdrop {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
}

.modal {
  width: 375px;
  background-image: url(../img/img-header/menu.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal-window-box {
  margin-bottom: 64px;
  display: block;
  cursor: pointer;
  border-radius: 60px;
  width: 163px;
  height: 55px;
  background: #ed3b44;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-box:hover,
.modal-window-box:focus {
  background: #e0373f;
}




@media screen and (min-resolution: 192dpi) and (min-width: 375px) {
  .modal {
    background-image: url("../img/img-header/menu@2x.png");
  }
}

.box-link-project-modal {
  cursor: pointer;
  border-radius: 60px;
  width: 163px;
  height: 55px;
  background: #ed3b44;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 64px;
  margin-left: 118px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-link-project-modal:hover,
.box-link-project-modal:focus {
  background: #e0373f;
}

.item-navigation-menu {
  margin-bottom: 12px;
}

.item-navigation-menu:hover,
.item-navigation-menu:focus {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #ed3b44;

}

.mobile-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  background-color: transparent;
  border: none;
}

.btn-open-burger {
  background: transparent;
  border: none;
}

.icon-burger-svg {
  stroke: #FAFAFA;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-burger-svg:hover,
.icon-burger-svg:focus {
  stroke: #ed3b44;
}

.mobile-close-icon {
  stroke: #FAFAFA;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close-icon:hover,
.mobile-close-icon:focus {
  stroke: #ed3b44;
}

@media screen and (max-width: 767px) {

  .header {
    width: 343px;
    margin-left: auto;
    margin-right: auto;
  }

  .header-container {
    width: 343px;
    padding-right: 16px;
  }

}


@media screen and (min-width: 768px) {
  .header {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }

  .header-container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;

  }

  .backdrop {
    display: none;
  }

  .btn-open-burger {
    display: none;
  }

  .name-list-menu {
    display: block;
    cursor: pointer;
    margin-top: 13px;
  }

  .box-link-project {
    cursor: pointer;
    display: block;
    border: none;
    border-radius: 60px;
    width: 163px;
    height: 55px;
    background: #ed3b44;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .box-link-project:hover,
  .box-link-project:focus {
    background: #e0373f;
  }

  .backdrop-for-btn-menu {
    display: block;
    position: relative;
    z-index: 999999;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .is-open-for-btn-menu {
    opacity: 1;
    visibility: visible;

  }

  .navigation-for-btn-menu {
    text-decoration: auto;
    font: 500 16px "Inter Tight", sans-serif;
    letter-spacing: -0.02em;
    text-decoration-skip-ink: none;
    color: #ed3b44;
  }

  .nav-modal-btn-menu {
    position: absolute;
    top: 69px;
    left: 42%;
  }
}

.mobile-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  background-color: transparent;
  border: none;
}

.btn-open-burger {
  background: transparent;
  border: none;
}

.icon-burger-svg {
  stroke: #FAFAFA;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-burger-svg:hover,
.icon-burger-svg:focus {
  stroke: #ed3b44;
}

.mobile-close-icon {
  stroke: #FAFAFA;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close-icon:hover,
.mobile-close-icon:focus {
  stroke: #ed3b44;
}



@media screen and (min-width: 768px) {
  .backdrop {
    display: none;
  }

  .btn-open-burger {
    display: none;
  }

  .name-list-menu {
    display: block;
    cursor: pointer;
    margin-top: 13px;
  }

  .name-list-menu:hover {
    cursor: pointer;
  }


  .box-link-project {
    cursor: pointer;
    display: block;
    border: none;
    border-radius: 60px;
    width: 163px;
    height: 55px;
    background: #ed3b44;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .box-link-project:hover,
  .box-link-project:focus {
    background: #e0373f;
  }

  .backdrop-for-btn-menu {
    display: block;
    position: relative;
    z-index: 999999;
    width: 704px;
    margin-left: auto;
    margin-right: auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-modal-btn-menu {
    position: absolute;
    top: 68px;
    left: 46%;
  }

  .is-open-for-btn-menu {
    opacity: 1;
    visibility: visible;
  }

  .navigation-for-btn-menu {
    text-decoration: auto;
    font: 500 16px "Inter Tight", sans-serif;
    letter-spacing: -0.02em;
    text-decoration-skip-ink: none;
    color: #fafafa;
    position: relative;
    text-align: center;
  }

}

@media screen and (min-width: 1440px) {
  .header {
    width: 1376px;
    margin-left: auto;
    margin-right: auto;
  }

  .header-container {
    width: 1376px;
    padding-left: 0;
    padding-right: 0;
  }

  .backdrop-for-btn-menu {
    display: block;
    position: relative;
    z-index: 999999;
    width: 1376px;
    margin-left: auto;
    margin-right: auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-modal-btn-menu {
    position: absolute;
    top: 68px;
    left: 48%;
  }
}