/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./css/reset.css');
@import url('./css/header.css');
@import url('./css/hero.css');
@import url('./css/about-me.css');
@import url('./css/benefits.css');
@import url('./css/projects.css');
@import url('./css/FAQ.css');
@import url('./css/covers.css');
@import url('./css/reviews.css');
@import url('./css/footer.css');
@import url('./css/scroll-to-top.css');
